@import url("normalize.css");
/* line 14, style.scss */
* {
  font-family: 'PT Sans', sans-serif; }

/* line 15, style.scss */
#main_container {
  margin-right: auto;
  margin-left: auto; }

/* line 18, style.scss */
#top_bar_container {
  width: 100%;
  -webkit-box-shadow: 0 5px 4px #666;
  -moz-box-shadow: 0 5px 4px #666;
  box-shadow: 0 5px 4px #666; }

/* line 19, style.scss */
#top_bar {
  height: 80px;
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

/* line 24, style.scss */
#top_logo {
  height: 100%;
  margin-left: 80px; }

/* line 26, style.scss */
#top_contact_box {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 20px;
  margin-top: 8px; }

/* line 27, style.scss */
#top_contact_box .phone_num {
  font-weight: bold;
  text-align: right; }

/* line 28, style.scss */
#top_contact_box .social_icons a img {
  width: 20px; }

/* line 30, style.scss */
#top_contact_box .social_icons a img:hover {
  opacity: 0.8; }

/* line 33, style.scss */
#top_slider {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px; }

/* line 34, style.scss */
#slider_tagline {
  font-size: 20px;
  text-align: center; }

/* line 35, style.scss */
#slider_links {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px; }

/* line 36, style.scss */
#slider_links div {
  color: #000;
  display: inline; }

/* line 40, style.scss */
#slider_links .active {
  color: #f7931e; }

/* line 44, style.scss */
#slider_main {
  width: 1000px;
  overflow: hidden;
  position: relative;
  height: 335px; }

/* line 49, style.scss */
#slider_main img {
  width: 100%;
  position: absolute;
  background: #fff; }

/* line 55, style.scss */
.video {
  display: flex;
  justify-content: center;
  margin-bottom: 25px; }

/* line 61, style.scss */
#free_consult {
  background-color: #cccccc;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 40px;
  font-family: 'Nothing You Could Do', cursive;
  font-weight: bold; }

/* line 63, style.scss */
#orangetriangle {
  width: 80px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px; }

/*BOOKING FORM*/
/* line 67, style.scss */
#booking_form_homepage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 300px;
  background-color: #bbb;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  padding: 10px; }

/* line 69, style.scss */
#booking_form_homepage.second_page_booking_form {
  height: 320px; }

/* line 70, style.scss */
.form_section_title {
  font-size: 18px;
  padding-left: 5px; }

/*HOMEPAGE LARGE BUTTONS*/
/* line 72, style.scss */
#booking_form_homepage_services label {
  float: left;
  width: 156px;
  margin-bottom: 10px; }

/* line 73, style.scss */
.booking_form_homepage_large_btn {
  margin: 3px;
  border: #fff solid 2px;
  height: 100px;
  background-color: #fff;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  padding: 5px;
  color: #bbb;
  cursor: pointer; }
  /* line 75, style.scss */
  .booking_form_homepage_large_btn img {
    width: 60px;
    margin-top: 8px;
    margin-bottom: 10px; }
  /* line 76, style.scss */
  .booking_form_homepage_large_btn:hover {
    border: #999 solid 2px;
    color: #000; }
  /* line 77, style.scss */
  .booking_form_homepage_large_btn:hover img {
    opacity: 0.7; }

/* line 80, style.scss */
.booking_form_homepage_large_btn img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.4; }

/* line 81, style.scss */
.booking_form_homepage_large_btn_text {
  text-align: center; }

/* line 83, style.scss */
.booking_form_homepage_large_btn.active {
  border: #000 solid 2px;
  color: #000; }

/* line 84, style.scss */
.booking_form_homepage_large_btn.active img {
  opacity: 1; }

/* line 87, style.scss */
#do_you_need_form_section label {
  float: left;
  width: 112px; }

/* line 88, style.scss */
.booking_form_homepage_small_btn {
  margin: 3px;
  border: #fff solid 2px;
  height: 60px;
  background-color: #fff;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  padding: 5px;
  color: #bbb;
  cursor: pointer; }
  /* line 89, style.scss */
  .booking_form_homepage_small_btn:hover {
    border: #999 solid 2px;
    color: #000; }

/* line 90, style.scss */
.booking_form_homepage_small_btn_text {
  text-align: center;
  height: 43px;
  line-height: 43px; }

/* line 91, style.scss */
.booking_form_homepage_small_btn_text.booking_form_homepage_small_btn_monthly_support {
  text-align: center;
  height: 46px;
  line-height: 23px; }

/* line 93, style.scss */
.booking_form_homepage_small_btn.active {
  border: #000 solid 2px;
  color: #000; }

/* line 96, style.scss */
#do_you_need_form_section label > input, #booking_form_homepage_services label > input {
  /* HIDE RADIO */
  visibility: hidden;
  /* Makes input not-clickable */
  position: absolute;
  /* Remove input from document flow */ }

/* line 102, style.scss */
#out_of_town_form_section {
  width: 100%;
  float: left; }

/* line 103, style.scss */
#at_work_form_section {
  width: 40%;
  float: left; }

/* line 104, style.scss */
#your_site_form_section {
  width: 30%;
  float: left; }

/* line 105, style.scss */
#your_site_form_section_input {
  width: 225px; }

/* line 106, style.scss */
#competitor_site_form_section {
  width: 30%;
  float: left; }

/* line 107, style.scss */
#competitor_site_form_section_input {
  width: 225px; }

/* line 111, style.scss */
#for_these_dates_form_section {
  width: 40%;
  float: left; }

/* line 112, style.scss */
#datetimepicker1, #datetimepicker2 {
  float: left; }

/* line 113, style.scss */
#do_you_need_form_section {
  width: 60%;
  float: left;
  margin-top: 10px; }

/* line 114, style.scss */
#submit_btn_form_section {
  width: 40%;
  float: left;
  clear: right; }

/* line 115, style.scss */
#submit_btn_homepage {
  width: 100%;
  margin-top: 20px;
  height: 60px; }

/* line 118, style.scss */
#your_name_form_section, #your_email_form_section, #your_comments_form_section {
  display: none; }

/* line 119, style.scss */
#your_name_form_section_input, #your_email_form_section_input, #your_comments_form_section {
  width: 100%; }

/* line 120, style.scss */
#your_email_form_section, #your_comments_form_section {
  margin-top: 10px; }

/* line 121, style.scss */
#your_comments_form_section_input {
  height: 54px; }

/* line 124, style.scss */
#homepage_services {
  margin-top: 60px;
  position: relative;
  width: 900px;
  margin-right: auto;
  margin-left: auto; }
  /* line 125, style.scss */
  #homepage_services .orange_line_title {
    width: 151px;
    left: 374.5px; }

/* line 127, style.scss */
.orange_line {
  width: 600px;
  border-bottom: #f7931e solid 2px;
  margin-right: auto;
  margin-left: auto;
  display: block; }

/* line 128, style.scss */
.orange_line_title {
  text-align: center;
  color: #f7931e;
  font-size: 40px;
  position: relative;
  font-weight: bold;
  top: -32px;
  background: #fff; }

/* line 131, style.scss */
.homepage_service {
  margin-top: 20px; }

/* line 132, style.scss */
.homepage_service_section_title {
  font-size: 22px;
  font-weight: bold;
  text-align: center; }

/* line 133, style.scss */
.homepage_service_description {
  font-size: 18px;
  line-height: 36px; }

/* line 134, style.scss */
.homepage_service_image img {
  margin-left: auto;
  margin-right: auto;
  display: block; }

/* line 140, style.scss */
#homepage_portfolio {
  margin-top: 60px;
  position: relative;
  width: 900px;
  margin-right: auto;
  margin-left: auto; }
  /* line 141, style.scss */
  #homepage_portfolio .orange_line_title {
    width: 162px;
    left: 369px; }

/* line 143, style.scss */
.portfolio_image img {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 320px; }

/* line 144, style.scss */
.portfolio_title {
  text-align: center;
  font-size: 22px; }

/* line 145, style.scss */
.row {
  margin-bottom: 15px; }

/* line 148, style.scss */
#homepage_contact_us {
  margin-top: 60px;
  position: relative;
  width: 900px;
  margin-right: auto;
  margin-left: auto; }
  /* line 149, style.scss */
  #homepage_contact_us .orange_line_title {
    width: 195px;
    left: 352.5px; }

/* line 153, style.scss */
#contact_image {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 150px; }

/* line 154, style.scss */
.homepage_contact_us_phone_email {
  text-align: center;
  font-size: 22px; }

/* line 156, style.scss */
#homepage_contact_us form {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 20px; }
  /* line 157, style.scss */
  #homepage_contact_us form :nth-child(n) {
    margin-top: 10px;
    font-size: 20px; }
  /* line 158, style.scss */
  #homepage_contact_us form button {
    width: 100%; }

/* line 160, style.scss */
#send_message_fail, #main_form_fail {
  display: none;
  color: red;
  font-weight: bold;
  text-align: center;
  position: relative; }

/* line 161, style.scss */
#main_form_success {
  display: none;
  color: green;
  font-weight: bold;
  text-align: center;
  position: relative;
  font-size: 20px; }

/* line 162, style.scss */
#send_message_confirm {
  display: none;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #FF9800;
  border: 4px solid #000;
  width: 460px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px; }

/* line 174, style.scss */
footer {
  text-align: center;
  background: #f7931e;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 20px; }
  /* line 175, style.scss */
  footer .social_icons {
    display: none; }

@media only screen and (max-width: 991px) {
  /* line 179, style.scss */
  #top_bar {
    width: 768px; }

  /* line 180, style.scss */
  #top_contact_box {
    margin-right: 0; }

  /* line 181, style.scss */
  #top_logo {
    margin-left: 0; }

  /* line 182, style.scss */
  #slider_main {
    height: 250px; }

  /* line 183, style.scss */
  .homepage_service_description {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block; }

  /* line 186, style.scss */
  #homepage_portfolio .orange_line_title {
    left: 293px; }

  /* line 187, style.scss */
  #homepage_services .orange_line_title {
    left: 298.5px; }

  /* line 188, style.scss */
  #homepage_contact_us .orange_line_title {
    left: 276.5px; }

  /* line 190, style.scss */
  #slider_main, #top_slider, #booking_form_homepage, #homepage_services, #homepage_portfolio, #homepage_contact_us, .homepage_contact_us_phone_email {
    width: 748px; }

  /* line 192, style.scss */
  .booking_form_homepage_small_btn_text.booking_form_homepage_small_btn_graphic_design {
    text-align: center;
    height: 46px;
    line-height: 23px; }

  /* line 194, style.scss */
  #booking_form_homepage_services label {
    width: 145px; }

  /* line 195, style.scss */
  #do_you_need_form_section label {
    width: 107px; } }
/* line 201, style.scss */
.payment_gateway {
  width: 250px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center; }

/* line 206, style.scss */
.payment_client {
  font-size: 20px; }

@media only screen and (max-width: 768px) {
  /* line 210, style.scss */
  #top_bar {
    width: 480px;
    height: 70px; }

  /* line 211, style.scss */
  #top_contact_box {
    margin-right: 0; }

  /* line 212, style.scss */
  #top_logo {
    margin-left: 0; }

  /* line 213, style.scss */
  .homepage_service_description {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block; }

  /* line 216, style.scss */
  #homepage_services {
    margin-top: 80px; }

  /* line 218, style.scss */
  #slider_main {
    height: 160px; }

  /* line 219, style.scss */
  #free_consult {
    font-size: 24px; }

  /* line 223, style.scss */
  #do_you_need_form_section label {
    width: 115px; }

  /* line 226, style.scss */
  .booking_form_homepage_small_btn {
    height: 63px;
    padding: 8px; }

  /* line 227, style.scss */
  #booking_form_homepage_services label {
    width: 92px; }

  /* line 230, style.scss */
  .booking_form_homepage_large_btn img {
    width: 37px; }

  /* line 232, style.scss */
  #your_site_form_section_input, #competitor_site_form_section_input {
    width: 100%; }

  /* line 235, style.scss */
  #your_site_form_section, #competitor_site_form_section {
    width: 50%; }

  /* line 237, style.scss */
  #for_these_dates_form_section {
    width: 100%; }

  /* line 240, style.scss */
  #do_you_need_form_section {
    width: 100%; }

  /* line 242, style.scss */
  #booking_form_homepage {
    height: 400px; }

  /* line 243, style.scss */
  #booking_form_homepage.second_page_booking_form {
    height: 290px; }

  /* line 244, style.scss */
  #submit_btn_homepage {
    height: 30px;
    margin-top: 7px; }

  /* line 245, style.scss */
  #submit_btn_form_section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  /* line 248, style.scss */
  .orange_line {
    width: 380px; }

  /* line 249, style.scss */
  #homepage_portfolio .orange_line_title {
    left: 159px; }

  /* line 250, style.scss */
  #homepage_services .orange_line_title {
    left: 164.5px; }

  /* line 251, style.scss */
  #homepage_contact_us .orange_line_title {
    left: 142.5px; }

  /* line 254, style.scss */
  #slider_main, #top_slider, #booking_form_homepage, #homepage_services, #homepage_portfolio, #homepage_contact_us, .homepage_contact_us_phone_email {
    width: 480px; } }
@media only screen and (max-width: 480px) {
  /* line 258, style.scss */
  #top_logo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block; }

  /* line 262, style.scss */
  #slider_tagline {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px; }

  /* line 265, style.scss */
  #booking_form_homepage_services label {
    width: 100%;
    height: 46px; }

  /* line 266, style.scss */
  .booking_form_homepage_large_btn {
    height: 48px; }

  /* line 267, style.scss */
  .booking_form_homepage_large_btn img {
    margin-left: 10px;
    float: left;
    margin-top: 4px; }

  /* line 268, style.scss */
  .booking_form_homepage_large_btn_text {
    font-size: 22px;
    float: left;
    margin-left: 10px; }

  /* line 269, style.scss */
  #do_you_need_form_section label {
    width: 25%; }

  /* line 270, style.scss */
  #booking_form_homepage {
    height: 575px; }

  /* line 271, style.scss */
  #homepage_contact_us, #homepage_portfolio, #homepage_services {
    margin-top: 30px; }

  /* line 274, style.scss */
  #homepage_contact_us form, #top_bar, #top_slider, #booking_form_homepage, #homepage_portfolio, #homepage_contact_us, .homepage_contact_us_phone_email {
    width: 100%; }

  /* line 275, style.scss */
  #homepage_services {
    width: 100%;
    margin-top: 40px; }

  /* line 276, style.scss */
  .orange_line {
    display: none; }

  /* line 277, style.scss */
  #homepage_contact_us .orange_line_title, #homepage_services .orange_line_title, #homepage_portfolio .orange_line_title {
    width: 100%;
    border-bottom: solid 3px #f7931e;
    position: static; }

  /* line 279, style.scss */
  #homepage_portfolio .row, .homepage_service.row {
    margin-left: 0;
    margin-right: 0; }

  /* line 280, style.scss */
  #homepage_portfolio .row {
    margin-bottom: 0; }

  /* line 281, style.scss */
  #homepage_portfolio .portfolio_image {
    margin-top: 15px; }

  /* line 282, style.scss */
  .homepage_service_description {
    width: 100%; }

  /* line 283, style.scss */
  .portfolio_image img {
    width: 60%; }

  /* line 284, style.scss */
  #top_contact_box .phone_num, #top_contact_box .social_icons {
    display: none; }

  /* line 286, style.scss */
  form {
    padding: 8px;
    width: 100%; }

  /* line 288, style.scss */
  #send_message_confirm {
    width: 100%; }

  /* line 290, style.scss */
  footer .social_icons {
    display: block; }

  /* line 292, style.scss */
  #slider_links div {
    font-size: 12px; }

  /* line 293, style.scss */
  #free_consult {
    padding-top: 10px;
    padding-bottom: 10px; } }
@media only screen and (max-width: 480px) {
  /* line 300, style.scss */
  #slider_main {
    width: 400px;
    height: 134px;
    margin-left: auto;
    margin-right: auto; }

  /* line 301, style.scss */
  #top_logo {
    height: 100%;
    max-height: 100%; }

  /* line 301, style.scss */
  #top_bar {
    height: 100px; } }
@media only screen and (max-width: 450px) {
  /* line 302, style.scss */
  #top_bar {
    height: 95px; } }
@media only screen and (max-width: 400px) {
  /* line 303, style.scss */
  #slider_main {
    width: 350px;
    height: 117px; }

  /* line 303, style.scss */
  #top_bar {
    height: 90px; } }
@media only screen and (max-width: 350px) {
  /* line 304, style.scss */
  #slider_main {
    width: 300px;
    height: 100px; }

  /* line 304, style.scss */
  #top_bar {
    height: 77px; } }
@media only screen and (max-width: 300px) {
  /* line 305, style.scss */
  #slider_main {
    width: 250px;
    height: 83px; }

  /* line 305, style.scss */
  #top_bar {
    height: 70px; } }
@media only screen and (max-width: 250px) {
  /* line 306, style.scss */
  #slider_main {
    width: 200px;
    height: 67px; } }
@media only screen and (max-width: 200px) {
  /* line 307, style.scss */
  #slider_main {
    width: 150px;
    height: 50px; } }
@media only screen and (max-width: 150px) {
  /* line 308, style.scss */
  #slider_main {
    display: none; } }

/*# sourceMappingURL=style.css.map */
