@import url("normalize.css");
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
	
*{font-family: 'PT Sans', sans-serif;}
#main_container{margin-right: auto;margin-left: auto;}
	
//top_bar
#top_bar_container{width:100%;@include box-shadow(0, 5px, 4px, #666);}
#top_bar{
	height:80px;position:relative;
	width:100%;margin-right: auto;margin-left: auto;}
	

#top_logo{height: 100%;margin-left: 80px;}

#top_contact_box{position: absolute;right:0;top:0;margin-right: 20px;margin-top:8px;}
#top_contact_box .phone_num{font-weight: bold;    text-align: right;}
#top_contact_box .social_icons a img{width: 20px;
	}
#top_contact_box .social_icons a img:hover{opacity: 0.8;}


#top_slider{width:1000px;margin-right: auto;margin-left: auto;padding-top: 50px;}
#slider_tagline{font-size: 20px;text-align: center;}
#slider_links{text-align: center;margin-top: 15px;margin-bottom: 15px;}
#slider_links div{color:#000;    display: inline;}
//#slider_links a:active,#slider_links a:visited,#slider_links a:link{text-decoration: none;}
//#slider_links a:hover{text-decoration: underline;}

#slider_links .active{color:#f7931e;}



#slider_main{width:1000px;//slider width
	overflow: hidden;//hide slide on slide
	position: relative;//anchor for imgs
	height: 335px;//fixed height of slides
	}
#slider_main img{
	width:100%;//fill up slide area
	position: absolute;//assist with sliding in/out
	background: #fff;//for overlapping transparent backgrounds
	}

.video {
	display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

#free_consult{background-color:rgb(204,204,204);text-align: center;padding-top: 15px;padding-bottom: 15px;font-size:40px;font-family: 'Nothing You Could Do', cursive;font-weight: bold;}

#orangetriangle{width: 80px;height:38px;margin-left: auto;margin-right: auto;    display: block;margin-bottom: 20px;}


/*BOOKING FORM*/
#booking_form_homepage{display: block;margin-left: auto;margin-right: auto;
	width:800px;height:300px;background-color:#bbb;-webkit-border-radius: 13px;-moz-border-radius: 13px;border-radius: 13px;padding:10px;}
#booking_form_homepage.second_page_booking_form{height:320px;}
.form_section_title{font-size:18px;padding-left:5px;}
/*HOMEPAGE LARGE BUTTONS*/
#booking_form_homepage_services label{float: left;width:156px;margin-bottom:10px;}
.booking_form_homepage_large_btn{    margin:3px;border:#fff solid 2px;height:100px;background-color:#fff;
	-webkit-border-radius: 13px;-moz-border-radius: 13px;border-radius: 13px;padding:5px;color:#bbb;cursor:pointer;
	    img{width: 60px;margin-top:8px;	margin-bottom: 10px;}
	&:hover{border:#999 solid 2px;color:#000;}
	&:hover img{opacity:0.7;}}


.booking_form_homepage_large_btn img{display: block;margin-left: auto;margin-right: auto;opacity:0.4;}	
.booking_form_homepage_large_btn_text{text-align:center;}

.booking_form_homepage_large_btn.active{border:#000 solid 2px;color:#000;}
.booking_form_homepage_large_btn.active img{opacity:1;}


#do_you_need_form_section label{float: left;width:112px;}
.booking_form_homepage_small_btn{    margin:3px;border:#fff solid 2px;height:60px;background-color:#fff;-webkit-border-radius: 13px;-moz-border-radius: 13px;border-radius: 13px;padding:5px;color:#bbb;cursor:pointer;
	&:hover{border:#999 solid 2px;color:#000;}}
.booking_form_homepage_small_btn_text{text-align:center;    height: 43px;line-height: 43px;}
.booking_form_homepage_small_btn_text.booking_form_homepage_small_btn_monthly_support/*,.booking_form_homepage_small_btn_text.booking_form_homepage_small_btn_graphic_design*/{text-align:center;    height: 46px;line-height: 23px;}

.booking_form_homepage_small_btn.active{border:#000 solid 2px;color:#000;}


#do_you_need_form_section label > input,#booking_form_homepage_services label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}


#out_of_town_form_section{width:100%;float:left;}
#at_work_form_section{width:40%;float:left;}
#your_site_form_section{width:30%;float:left;}
#your_site_form_section_input{width: 225px;}
#competitor_site_form_section{width:30%;float:left;}
#competitor_site_form_section_input{width: 225px;}

//#by_location_form_section{width:30%;float:left;}
//#by_location_form_section_input{width: 445px;}
#for_these_dates_form_section{width:40%;float:left;}
#datetimepicker1,#datetimepicker2{float:left;}
#do_you_need_form_section{width:60%;float:left;margin-top:10px;}
#submit_btn_form_section{width:40%;float:left;clear:right;}
#submit_btn_homepage{width: 100%;margin-top:20px;height: 60px;}

//FORM PART 2
#your_name_form_section,#your_email_form_section,#your_comments_form_section{display: none;}
#your_name_form_section_input,#your_email_form_section_input,#your_comments_form_section{width: 100%;}
#your_email_form_section,#your_comments_form_section{margin-top: 10px;}
#your_comments_form_section_input{height:54px;}

//homepage_services
#homepage_services{margin-top: 60px;position: relative;width: 900px;margin-right: auto;margin-left: auto;
	.orange_line_title{width: 151px;left: 900px/2-151px/2;}
}
.orange_line{width: 600px;border-bottom:#f7931e solid 2px;margin-right: auto;margin-left: auto;display: block;}
.orange_line_title{text-align: center;color:#f7931e;font-size:40px;position: relative;font-weight: bold;
	top: -32px;background: #fff;}
	
.homepage_service{margin-top:20px;}
.homepage_service_section_title{font-size:22px;font-weight: bold;text-align: center;}
.homepage_service_description{font-size:18px;line-height: 36px;}
.homepage_service_image img{margin-left: auto;margin-right: auto;display: block;}




//portfolio
#homepage_portfolio{margin-top: 60px;position: relative;width: 900px;margin-right: auto;margin-left: auto;
	.orange_line_title{width: 162px;left: 900px/2-162px/2;}}
	
	.portfolio_image img{margin-right: auto;margin-left: auto;display: block;width: 320px;}
	.portfolio_title{text-align: center;font-size:22px;}
	.row{margin-bottom: 15px;}
	
	
#homepage_contact_us{margin-top: 60px;position: relative;width: 900px;margin-right: auto;margin-left: auto;
	.orange_line_title{width: 195px;left: 900px/2-195px/2;}}


//contact
#contact_image{margin-right: auto;margin-left: auto;display: block;width: 150px;}
.homepage_contact_us_phone_email{text-align: center;font-size:22px;}

#homepage_contact_us form{width: 500px;margin-right: auto;margin-left: auto;display: block;margin-top: 20px;
	:nth-child(n){margin-top:10px;font-size:20px;}
	button{width: 100%;}}
	
	#send_message_fail,#main_form_fail{display: none;color:red;font-weight: bold;text-align: center;position:relative;}
	#main_form_success{display: none;color:green;font-weight: bold;text-align: center;position:relative;font-size:20px; }
#send_message_confirm{display: none;    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #FF9800;
    border: 4px solid #000;
    width: 460px;
    margin: 0 auto;
    border-radius: 4px;
padding: 10px;}


//FOOTER
footer{text-align: center;background: #f7931e;width: 100%;margin-top: 30px;padding-bottom: 20px;padding-top: 20px;
	.social_icons{display: none;}}


@media only screen and (max-width: 991px) {
	#top_bar{width:768px;}
	#top_contact_box{margin-right: 0;}
	#top_logo{margin-left:0;}
	#slider_main{height: 250px;}
    .homepage_service_description {
        width: 600px;margin-left: auto;margin-right: auto;display: block;
    }
#homepage_portfolio .orange_line_title{left: 748px/2-162px/2;}
#homepage_services .orange_line_title{left: 748px/2-151px/2;}
#homepage_contact_us .orange_line_title{left: 748px/2-195px/2;}

#slider_main,#top_slider,#booking_form_homepage,#homepage_services,#homepage_portfolio,#homepage_contact_us,.homepage_contact_us_phone_email{width:748px;}

.booking_form_homepage_small_btn_text.booking_form_homepage_small_btn_graphic_design{text-align:center;    height: 46px;line-height: 23px;}

#booking_form_homepage_services label {width: 145px;}
#do_you_need_form_section label {width: 107px;}
}



//Payment Gateway
.payment_gateway{width: 250px;margin-top: 15px;
margin-left: auto;
margin-right: auto;
display: block;
text-align: center;}
.payment_client{font-size:20px;}


@media only screen and (max-width: 768px) {
	#top_bar{width:480px;height: 70px;}
	#top_contact_box{margin-right: 0;}
	#top_logo{margin-left:0;}
    .homepage_service_description {
        width: 400px;margin-left: auto;margin-right: auto;display: block;
    }
	#homepage_services {
	    margin-top: 80px;}
	#slider_main{height: 160px;}
	#free_consult {
	    font-size: 24px;}
	
		//FORM
		#do_you_need_form_section label {
		    width: 115px;
		}
		.booking_form_homepage_small_btn{height: 63px;    padding: 8px;}
	#booking_form_homepage_services label {
	    width: 92px;
	}
	.booking_form_homepage_large_btn img {
	    width: 37px;}
		#your_site_form_section_input,#competitor_site_form_section_input {
		    width: 100%;
		}
		#your_site_form_section,#competitor_site_form_section {
		    width: 50%;}
		#for_these_dates_form_section {
		    width: 100%;}
		
			#do_you_need_form_section {
			    width: 100%;}
		#booking_form_homepage{    height: 400px;}
		#booking_form_homepage.second_page_booking_form{height:290px;}
		#submit_btn_homepage{height: 30px;    margin-top: 7px;}
		    #submit_btn_form_section{width: 80%;margin-left: auto;
		    margin-right: auto;float: none;}
		
			.orange_line{width:380px;}
			#homepage_portfolio .orange_line_title{left: 480px/2-162px/2;}
			#homepage_services .orange_line_title{left: 480px/2-151px/2;}
			#homepage_contact_us .orange_line_title{left: 480px/2-195px/2;}
	
	
#slider_main,#top_slider,#booking_form_homepage,#homepage_services,#homepage_portfolio,#homepage_contact_us,.homepage_contact_us_phone_email{width:480px;}
}

@media only screen and (max-width: 480px) {
	#top_logo {width:90%;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;}
	#slider_tagline{padding-right: 10px;padding-left: 10px;font-size: 16px;}
	

	#booking_form_homepage_services label{width: 100%;height: 46px;}
	.booking_form_homepage_large_btn{height: 48px;}
	.booking_form_homepage_large_btn img{margin-left:10px;float: left;margin-top: 4px;}
	.booking_form_homepage_large_btn_text{    font-size: 22px;float: left;margin-left:10px;}
	#do_you_need_form_section label{width: 25%;}
#booking_form_homepage{height: 575px;}
	#homepage_contact_us,#homepage_portfolio,#homepage_services {
	    margin-top: 30px;}
	
	#homepage_contact_us form,#top_bar,#top_slider,#booking_form_homepage,#homepage_portfolio,#homepage_contact_us,.homepage_contact_us_phone_email{width: 100%;}
	#homepage_services{width: 100%;margin-top:40px;}
	.orange_line{display: none;}
	#homepage_contact_us .orange_line_title,#homepage_services .orange_line_title,#homepage_portfolio .orange_line_title{width:100%;border-bottom:solid 3px #f7931e;position:static;}

	#homepage_portfolio .row,.homepage_service.row{margin-left: 0;margin-right: 0;}//BOOTSTRAP...
	#homepage_portfolio .row{margin-bottom:0;}
	#homepage_portfolio .portfolio_image{margin-top:15px;}
	.homepage_service_description{width: 100%;}
	.portfolio_image img{width:60%;}
	#top_contact_box .phone_num,#top_contact_box .social_icons{display: none;}
	
	form{padding: 8px;
    width: 100%;}
#send_message_confirm{width: 100%;}
	
	footer .social_icons{display: block;}
	
	#slider_links div{font-size: 12px;}
	#free_consult{padding-top: 10px;padding-bottom: 10px;}
		//whitespace after image reduce
}




@media only screen and (max-width: 480px) {#slider_main{width:400px;height: 134px;margin-left: auto;
margin-right: auto;}#top_logo{height:100%;max-height:100%;}#top_bar{height: 100px;}}
@media only screen and (max-width: 450px) {#top_bar{height:95px;}}
@media only screen and (max-width: 400px) {#slider_main{width:350px;height: 117px;}#top_bar{height:90px;}}
@media only screen and (max-width: 350px) {#slider_main{width:300px;height: 100px;}#top_bar{height:77px;}}
@media only screen and (max-width: 300px) {#slider_main{width:250px;height: 83px;}#top_bar{height:70px;}}
@media only screen and (max-width: 250px) {#slider_main{width:200px;height: 67px;}}
@media only screen and (max-width: 200px) {#slider_main{width:150px;height: 50px;}}
@media only screen and (max-width: 150px) {#slider_main{display: none;}}


